.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
  width: 90%;
  margin-top: 3rem;
}

.banner {
  width: 90%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 250px 0 100px 0;
}

.banner-bg {
  width: 100%;
  height: 100%;
}

.banner-img {
  width: 550px;
  height: 450px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.services {
  width: 90%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.service-container {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.service-container:hover {
  transform: rotate3d(0, 0, 1, 10deg);
}

.service-upperContainer {
  width: 100%;
  display: flex;
  flex: 0.8;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

.service-icon {
  width: 150px;
  height: 150px;
}

.service-lowerContainer {
  width: 100%;
  display: flex;
  flex: 0.3;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;
  justify-content: center;
}

.service-lowerContainer p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.studios {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studios-main-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.studio-container {
  width: 500px;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
}

.studio-container:hover {
  transform: scale(1.1);
}

.studio-upperContainer {
  width: 100%;
  height: 80%;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

.studio-img {
  width: 100%;
  border-radius: 30px;
  height: 100%;
}

.studio-lowerContainer {
  width: 100%;
  display: flex;
  height: 20%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;
  justify-content: space-around;
}

.studio-name {
  font-size: 22px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.studio-rating {
  font-size: 18px;
}
