.wavy-orange-dashboard{
    width: 100%;
    height: 30vh;
}

.user-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-image{
    width: 100%;
    height: 100%;
}

.user-dashboard-navbar{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    overflow: auto;
    padding-bottom: 50px;
}

.navbar-item-container{
    background:linear-gradient(to right, #FF782C 0%, #FF782C 33%, #F1356A 66%, #F1356A 100%);
    box-shadow: 0 3px 3px 3px #DDD;
    border-radius: 25px;
    padding: 5px;
    margin-right: 10px;
}

.navbar-item{
    text-decoration: none;
    display: flex;
    color: #000;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    width: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-item:hover{
    color: #f9772b;
}

.navbar-text{
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.navbar-item-selected{
    text-decoration: none;
    display: flex;
    color: #f9772b;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    width: 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content-promotions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 100px 0;
    align-items: center;
}

@media screen and (max-width: 800px) {

    .content{
        flex-direction: column-reverse;
    }

    .content-left{
        width: 100%;
    }

    .content-right{
        width: 100%;
        margin-bottom: 20px;
    }

    .user-dashboard-navbar{
        width: 80%;
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-item, .navbar-item-selected{
        width: auto;
        padding: 0 20px;
    }
}