.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.payment-image {
  width: 100%;
  /* position: relative; */
}

.wavy-orange {
  height: 45vh;
  width: 100%;
  background-position: right bottom;
}

.payment-Page-Vector {
  width: 50%;
  max-width: 600px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 100px;
}

.payment-studioDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.payment-studioDetails-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: -100px;
}

.payment-studioDetails-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: -50px;
}
.studio-image {
  width: 100%;
  height: 50vh;
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-transform: upperCase;
  width: 100%;
}

.address {
  font-size: 20px;
}

.date,
.time,
.subtitle {
  font-size: 22px;
}

.subtitle {
  font-weight: bold;
}

.payment-breakdown-container {
  width: 40%;
}

.cost-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.payment-btn {
  background-color: #ff782c;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  /* width: 200px; */
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-shadow: -2px 2px 2px #555;
  cursor: pointer;
  margin-bottom: 50px;
}

.promotional-code,
.payment-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.promotional-code-input {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #aaa;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 2px #555;
}

.promotional-code-btn {
  background-color: #ff782c;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  box-shadow: -2px 2px 2px #555;
  cursor: pointer;
}

.info-text {
  font-size: 18px;
}

.card-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.payment-input {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #aaa;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 2px #555;
}
