.navbar {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.jamr-logo {
  height: 5em;
  margin-left: 80px;
  cursor: pointer;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 100px;
}
.location-marker {
  height: 3em;
  width: 3em;
  margin-right: 10px;
  margin-left: 10px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-text {
  margin-right: 10px;
  font-size: 1.2em;
}

.dropdown-arrow {
  margin-right: 10px;
}

.bookSlots-text {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.2em;
}

.faq-text, .nav-bookings-text {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.login-btn {
  border-radius: 50px;
  height: 3em;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ff782c;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-btn-text {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1em;
  color: #fff;
}

.profileIcon{
  height: 3em;
  width: 3em;
  margin: 0 10px;
  background-color: aqua;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px
}

.menu{
  display: none;
  position: absolute;
  left: 50px;
  top: 7px;
  padding: 5px;
  color: #000;
  height: 3em;
}

@media screen and (max-width: 900px) {
  .login-btn {
    padding: 0;
  }

  .jamr-logo{
    height: 5em;
    width: 200px;
    margin-left: 100px;
  }

  .navbar{
    justify-content: center;
    flex-direction: column;
    position: fixed;
  }

  .navbar-items {
    flex-direction: column;
    height: auto;
    margin: 20px 0;
    padding: 0;
  }

  .menu {
    display: block;
    left: 10px;
  }
}