.content-promotions{
    margin: 0;
}

.promotion-content-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 50px;
    justify-content: space-around;
}

.promotion-left{
    display: flex;
    flex-direction: column;
    flex: 0.6;
}

.referral-code-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px 3px #ccc;
    background-color: #FF782C;
    border-radius: 50px;
    width: 50%;
    padding: 20px 0 ;
}

.referral-code-text{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.referral-code{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0 0 0;
}

.promotion-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.4;
}
.promotion-img{
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

.promotion-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.promotion-title{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 50px;
}

.promotion-refer-via{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.refer{
    margin: 50px 0;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.promotion-refer-via-item{
    border-bottom: 2px solid #777;
    width: 100%;
}

.promotion-refer-platforms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

.promotion-refer-platforms-item{
    height: 200px;
    width: 200px;
    background-color: #ccc;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promotion-bottom-title{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.promotion-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px 0;
}

.promotion-data-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.promotion-data-icon{
    width: 70px;
    margin-right: 50px;
}

.promotion-data-text, .promotion-text{
    font-size: 30px;
    color: #000;
}

@media screen and (max-width: 800px){
    .promotion-content-container{
        flex-direction: column-reverse;
    }
    .promotion-img{
        width: 60%;
        height: 60%;
        margin: 0;
    }
    .promotion-right{
        align-items: center;
        width: 100%
    }
    .promotion-left{
        align-items: center;
        width: 100%
    }

    .promotion-title{
        font-size: 30px;
        text-align: center;
    }

    .promotion-data-text, .promotion-text{
        font-size: 22px;
        text-align: center;
    }

    .promotion-refer-via{
        width:90%;
    }

    .promotion-refer-platforms{
        width: 100%;
        justify-content: space-around;
        margin: 0;
    }

    .promotion-refer-platforms-item{
        height: 100px;
        width: 100px;
    }

    .promotion-data{
        width: 90%;
        margin: 0;
    }

    .referral-code-container{
        border-radius: 10px;
        padding: 10px;
    }
}