.studioDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.loader{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.studioDetails-image {
  width: 100%;
  /* position: relative; */
}

.wavy-orange-details {
  height: 60vh;
  width: 100%;
  background-position: right bottom;
  animation: wavy-orange-animation 1.5s infinite;
}

.details-Page-Vector {
  width: 50%;
  max-width: 600px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 100px;
}

.studioDetails-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.studioDetails-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: -100px;
}

.studioDetails-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  padding: 0 20px;
  flex-wrap: wrap;
  margin-top: -50px;
}

.studio-image {
  width: 100%;
  height: 50vh;
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
}

.studioDetails-rating-cost-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.studioDetails-rating {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #ffb443;
  height: 35px;
  width: auto;
  border-radius: 10px;
  color: #fff;
}

.studioDetails-services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.studioDetails-service {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
}

.service-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ccc;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-transform: upperCase;
}

.address {
  font-size: 20px;
}

.rating {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.cost {
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}

.services-title {
  font-size: 30px;
  font-weight: bold;
}

.service-name {
  text-align: center;
}

.additional-packages-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.additional-packages-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 2px solid #000;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 2px 2px #ccc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.additional-packages-item:hover{
  transform: scale(1.1);
  box-shadow: 0px 4px 4px 4px #ccc;
}

.package-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  padding: 10px;
  text-align: center;
}

.package-text{
  font-size: 22px;
  color: #000;
  padding: 10px;
}

.package-included{
  display: flex;
  width: 220px;
  height: 50px;
  background-color: #29c57c;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  position: absolute;
  bottom: -25px;
}

.package-included-text{
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.equipments-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -20px;
}

.equipment {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: -50px;
}

.bulletpoint {
  font-size: 40px;
  font-weight: bold;
  margin-right: 10px;
}

.equipment-name {
  font-size: 22px;
}

.service-ratings-reviews-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eee;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px 0;
  width: 80%;
}

.service-overall-ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-right: 1px solid #666;
  padding-right: 20px;
}

.ratings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.service-ratings-number {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

.verified-ratings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.verified-ratings-text {
  width: 50%;
  margin-left: 10px;
}
.service-review-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.service-review-btn {
  background-color: #ff782c;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.reviews-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: -20px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
}

.review-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.review-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #ccc;
}

.review-username {
  font-size: 20px;
  font-weight: bold;
}

.review-text {
  font-size: 20px;
  margin-left: 50px;
  width: 50%;
}

.date-time-slots-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 70%;
}

.date,
.time,
.date-title {
  font-size: 30px;
}

.date-title {
  text-transform: uppercase;
}

.date-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-color: #eee;
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: 0px 2px 2px #555;
  cursor: pointer;
}

.calendar{
  margin-top: 50px;
}

.time-duration-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}

.time-title,
.duration-title {
  font-size: 18px;
  font-weight: bold;
}

.time-inner-container,
.duration-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-color: #eee;
  border-radius: 20px;
  padding: 0 20px;
  box-shadow: 0px 2px 2px #555;
}

.book-now-btn {
  background-color: #ff782c;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 20px;
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: -2px 2px 2px #555;
  cursor: pointer;
}

.slot-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ff782c;
  margin-bottom: 10px;
  cursor: pointer;
}

.selected-slot-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ff782c;
  background-color: #ff782c;
  margin-bottom: 10px;
  cursor: pointer;
}

.disabled-slots {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #555;
  margin-bottom: 10px;
}

.slots-container {
  width: 80%;
 margin-top: 50px;

}

.slots-inner-container{
  /* background-color: #eee; */
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}

.slot-items{
  display: inline-block;
  display: flex;
  flex-direction: column;
  padding: 14px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .details-Page-Vector{
    display: none;
  }
  .studioDetails-content{
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .studioDetails-left-container {
    width: 100%;
    margin: -150px 0 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .studioDetails-right-container {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 0;
  }

  .additional-packages-container{
    justify-content: center;
  }

  .date-time-slots-container {
    align-items: center;
    margin-top: 50px;
    width: 80%;
  }
  
}
